body {
    font-family: Roboto, sans-serif;
}

#navbar{
    background-color: #2196f3;
    color: white;
    box-shadow: 3px 3px darkgray;
}

button {
    background-color: #2196f3;
    color: white;
}

#park, #retrieve {
    border: 1px solid white;
}

#instructions, #map, #directions {
    border: 1px solid black;
    box-shadow: 3px 3px darkgray;
}

#gotIt{
    border: 1px solid black;
}